<template>
	<div id="app">
		<h1>Football Club Profile</h1>
		<div class="content">
			<div class="form-group area">
				<label for="sel1">Area Lists:</label>
				<select v-model="areaId" class="form-control" id="sel1">
					<option v-for="(area, idx) in areas" :key="idx" :value="area.id">{{ area.name }}</option>
				</select>
			</div>
			<div class="club">
				<div v-if="club.name">
					<h2>{{ club.name }}</h2>
					<table class="table">
						<tbody>
							<tr>
								<th>Short Name</th>
								<td>{{ club.shortName }}</td>
							</tr>
							<tr>
								<th>TLA</th>
								<td>{{ club.tla }}</td>
							</tr>
							<tr>
								<th>Address</th>
								<td>{{ club.address }}</td>
							</tr>
							<tr>
								<th>Phone</th>
								<td>{{ club.phone }}</td>
							</tr>
							<tr>
								<th>Website</th>
								<td>{{ club.website }}</td>
							</tr>
							<tr>
								<th>Email</th>
								<td>{{ club.email }}</td>
							</tr>
							<tr>
								<th>Founded</th>
								<td>{{ club.founded }}</td>
							</tr>
							<tr>
								<th>Club Colors</th>
								<td>{{ club.clubColors }}</td>
							</tr>
							<tr>
								<th>Venue</th>
								<td>{{ club.venue || '-' }}</td>
							</tr>
						</tbody>
					</table>
					<div class="squad">
						<div v-if="club.squad.length">
							<h3>Squad List</h3>
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Squad Name</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(squad, idx) in club.squad" :key="idx">
										<td>{{ squad.name }}</td>
										<td @click="openPopup(idx)" class="detail" data-toggle="modal" data-target="#myModal">Detail</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div v-else>
							<h3>Squad List Not Found</h3>
						</div>
					</div>
				</div>
				<div v-else>
					<h2>Football Club Not Found</h2>
				</div>
			</div>
		</div>

		<!-- POP UP DETAIL SQUAD -->
		<div v-if="showModal">
			<transition name="modal">
				<div class="modal-mask">
					<div class="modal-wrapper">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Squad Detail</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" @click="showModal = false">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<table class="table table-striped">
								<tbody>
									<tr>
										<th>Name</th>
										<td>{{ club.squad[squadIdx].name }}</td>
									</tr>
									<tr>
										<th>Position</th>
										<td>{{ club.squad[squadIdx].position }}</td>
									</tr>
									<tr>
										<th>DOB</th>
										<td>{{ $moment(club.squad[squadIdx].dateOfBirth).format('DD MMMM YYYY') }}</td>
									</tr>
									<tr>
										<th>COB</th>
										<td>{{ club.squad[squadIdx].countryOfBirth }}</td>
									</tr>
									<tr>
										<th>Nationality</th>
										<td>{{ club.squad[squadIdx].nationality }}</td>
									</tr>
									<tr>
										<th>Shirt Number</th>
										<td>{{ club.squad[squadIdx].shirtNumber || '-' }}</td>
									</tr>
									<tr>
										<th>Role</th>
										<td>{{ club.squad[squadIdx].role }}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" @click="showModal = false">Close</button>
						</div>
						</div>
					</div>
					</div>
				</div>
			</transition>
		</div>

	</div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
import jQuery from "jquery";
import moment from 'vue-moment'

const $ = jQuery;
window.$ = $;
 
Vue.use(VueAxios, axios)
Vue.use(moment)

const config = {
	headers: {
		'Content-Type': 'application/json',
		'X-Auth-Token': 'cfeea3e0ab754619a0e3f0ac7dc8bb47'
	}
};

export default {
	name: 'app',
	
	data () {
		return {
			areas : [],
			areaId : 2000,
			club : {},
			showModal: false,
			squadIdx: 0
		}
	},
	methods: {
		openPopup(idx) {
			this.squadIdx = idx;
			this.showModal = true;
		}
	},
	watch: {
		areaId: function(id) {
			axios.get(`https://api.football-data.org/v2/teams/${id}`, config)
			.then((res) => {
				this.club = res.data
			})
			.catch((err) => {
				console.log(err)
				this.club = {}
			})
		}
	},
	mounted() {
		axios.get('https://api.football-data.org/v2/areas', config)
		.then((res) => {
			this.areas = res.data.areas;
		})
		.catch((err) => {
			console.log(err)
		})

		axios.get(`https://api.football-data.org/v2/teams/${this.areaId}`, config)
		.then((res) => {
			this.club = res.data
		})
		.catch((err) => {
			console.log(err)
		})
	}
}
</script>

<style lang="scss">
* {
	margin: 0;
	padding: 0;
}

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	padding: 50px 0;
	h1 {
		@media only screen and (max-width: 768px) {
			font-size: 24px;
		}
	}
	.content {
		margin-top: 30px;
		.area {
			.form-control {
				width: 600px;
				margin: auto;
				cursor: pointer;
				@media only screen and (max-width: 768px) {
					width: calc(100% - 40px);
				}
			}
		}
		.club {
			margin-top: 30px;
			h2 {
				color: green;
				font-size: 24px;
				font-weight: bold;
				margin-bottom: 20px;
			}
			table {
				width: 600px;
				margin: auto;
				@media only screen and (max-width: 768px) {
					width: calc(100% - 40px);
				}
			}
			.squad {
				margin-top: 40px;
				h3 {
					color: green;
					font-size: 20px;
					font-weight: bold;
					margin-bottom: 20px;
				}
				table {
					thead {
						th {
							text-align: center;
						}
					}
					.detail {
						cursor: pointer;
						&:hover {
							color: green;
						}
					}
				}
			}
		}
	}


	.modal-mask {
		position: fixed;
		z-index: 9998;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		display: table;
		transition: opacity .3s ease;
		tr {
			th {
				text-align: center;
			}
		}
	}

	.modal-wrapper {
		display: table-cell;
		vertical-align: middle;
	}

	@import'~bootstrap/dist/css/bootstrap.css';
}

</style>
